
/***************************************************************************************************/
/* Fonts                                                                                           */
/***************************************************************************************************/

/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700');*/


@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



/***************************************************************************************************/
/* General styles                                                                                  */
/***************************************************************************************************/

* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased; 
	overflow: hidden; 
	background-color: #f0f0f0;
	font-weight: 500;
}
a { 
}
a:hover, a:focus { 
}
a:active {  
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h2 { 
	margin-top: 0; 
	font-size: 24px; 
	margin-bottom: 24px;

}
h3 {
	font-size: 21px;

}
hr {
	height: 0;
	margin: 15px 0;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #0276af;
	overflow: hidden;
}


/* mobile */
@media screen and (max-width: 991px) {

}

/***************************************************************************************************/
/* Overwritten Angular Material Styles                                                             */
/***************************************************************************************************/

md-toast.toast-success .md-toast-content {
	background-color: #5bb85f;
}
md-toast.toast-error .md-toast-content {
	background-color: #c40013;
}


/***************************************************************************************************/
/* Forms                                                                                           */
/***************************************************************************************************/

.md-button {
	border-radius: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.md-button.md-raised:not([disabled]) {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.md-button:not([disabled]).md-fab:active, .md-button:not([disabled]).md-raised:active {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.md-button.md-warn.md-raised {
	background-color: #a40f0f;
	width: 100%;
	margin: 30px 0 0 0;
	min-height: 40px;
}
.md-button.md-warn.md-raised:not([disabled]):hover {
	background-color: #b21010;
}
.md-button md-progress-circular {
	display: none;
}
.md-button.loading md-progress-circular {
	display: block;
	width: 20px !important;
	height: 20px !important;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.md-button md-progress-circular svg {
	width: 20px !important;
    height: 20px !important;
    transform-origin: 10px 10px 10px !important;
}
.md-button md-progress-circular path {
	stroke: #0276af;
}
md-input-container {
	margin: 0;
}
md-input-container .md-errors-spacer {
	display: none;
}

md-input-container .md-input {
	border-width: 1px;
	background-color: #ffffff;
	font-size: 20px;
	height: 38px;
	line-height: 38px;
	padding: 2px 12px 1px;
}
md-input-container.md-input-focused .md-input, md-input-container.md-input-resized .md-input, md-input-container .md-input.ng-invalid.ng-dirty {
	border-width: 2px;
	padding: 1px 11px 0px;
}

span.file-input {
	border: 1px solid rgba(0,0,0,0.12);
	display: block;
	padding: 7px 0 5px;
	background-color: #ffffff;
	height: 38px;
	outline: none;
}
span.file-input:focus {
	outline: none;
}
md-input-container input[type="file"].md-input {
	padding-top: 0;
	line-height: 18px;
	font-size: 18px;
	height: 24px;
	border: none;
}
md-input-container input[type="file"].md-input:focus {
	padding-top: 0;
}

md-select .md-select-value {
	border: 1px solid rgba(0,0,0,0.12);
	background-color: #ffffff;
	font-size: 20px;
	height: 38px;
	line-height: 38px;
	padding: 2px 12px 1px;
	box-sizing: border-box;
}
md-select:focus .md-select-value {
	border: 2px solid rgb(2,118,185);
	padding: 1px 11px 0px;
}
.md-select-value.md-select-placeholder {
	padding-left: 12px;
}
md-select.ng-invalid.ng-touched .md-select-value,
md-input-container.md-input-invalid md-select .md-select-value {
    border-color: rgb(213,0,0)!important;
}

/***************************************************************************************************/
/* Layout Divs                                                                                     */
/***************************************************************************************************/

body.loading > * {
	visibility: hidden;
}


body > header {
	background-color: #0276af;
	color: #ffffff;
	height: 120px;
	border-bottom: 2px solid #ffffff;
}
body > main {
	height: calc(100vh - 174px);
	padding: 50px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
body > footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 85, 127, 1);
	color: #ffffff;
	height: 54px;
	padding: 0 30px 0 50px;
}


/* mobile */
@media screen and (max-width: 1400px) {

	body > header {
		height: 80px;
	}
	body > main {
		height: calc(100vh - 134px);
		padding: 30px;
	}
	body > footer {
		height: 40px;
		font-size: 14px;
	}

}

/***************************************************************************************************/
/* Components	               		                                                               */
/***************************************************************************************************/


body.loading {
	background-image: url(../images/loading.gif);
	background-size: 148px;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: darken;
}
body:not(.loading) {
	background-image: none;
}

/* menu */
body > header md-menu {
}
body > header md-menu > .md-button {
	font-size: 30px;
	height: 120px;
	width: 242px;
	border-right: 2px solid #ffffff;
	margin: 0;
}
.burger {
	display: inline-block;
	width: 36px;
	margin-bottom: -1px;
	margin-right: 13px;;
}
.burger .slice {
	border-bottom: 4px solid #ffffff;
	width: 36px;
	margin-top: 6px;
}
.burger .slice:first-child {
	margin-top: 0;
}
#menu_container_0 {
	margin-top: 110px;
	margin-left: -8px;
}
#menu-dropdown {
	/*background-color: #0276af;*/
	max-height: calc(100vh - 120px);
	/*background-color: #0276af;*/
	padding: 0;
}
#menu-dropdown md-menu-item {
	min-height: 96px;
}
#menu-dropdown .md-button {
	height: 96px;
	line-height: 96px;
	color: #ffffff !important;
	text-transform: uppercase;
	font-size: 30px;
	border-top: 2px solid #ffffff;
	padding: 0 49px;
}
#menu-dropdown .md-button:hover,
#menu-dropdown .md-button.selected {
	background-color: #00557f !important;
}



body > header h1 {
	background-color: #024160;
	padding: 0 36px;
	margin: 0;
	height: 100%;
	font-size: 36px;
	font-weight: 300;
	line-height: 120px;
	border-right: 2px solid #ffffff;
	min-width: calc(50% - 121px);
	white-space: nowrap;;
}
body > header .logos {
	background-color: #00557f;
	padding: 20px 30px;
}
body > header .logos img {
	margin-left: 40px;;
}


body > footer .user {
	font-weight: bold;
	background-image: url(../images/user.gif);
	background-repeat: no-repeat;
	padding-left: 35px;
	line-height: 23px;
}
body > footer .clock {
	font-weight: bold;
}


section.popup-alerts {
	position: absolute;
	z-index: 100;
	width: 300px;
	left: 10px;
	top: 10px;
	
}
section.popup-alerts .alert {
	background-color: #c40013;
	color: #ffffff;
	padding: 14px 18px;
	margin-bottom: 10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-radius: 2px;;
}
section.popup-alerts .alert h3 {
	padding: 0;
	margin: 0 0 6px 0;
	font-size: 14px;
}
section.popup-alerts .alert main {
	font-size: 14px;
}



/* mobile */
@media screen and (max-width: 1400px) {

	body > header md-menu > .md-button {
		width: 110px;
		height: 80px;
	}

	.burger {
		margin-right: 0;
	}
	.burger .slice {
		border-bottom-width: 3px;
	}

	body > header md-menu span.title {
		display: none;
	}

	#menu_container_0 {
		margin-top: 70px;
	}
	#menu-dropdown md-menu-item {
		min-height: 80px;
	}
	#menu-dropdown .md-button {
		height: 80px;
		line-height: 80px;
		font-size: 24px;
	}

	body > header h1 {
		line-height: 80px;
		font-size: 24px;
	}

	body > header .logos {
	    background-color: #00557f;
	    padding: 20px 30px;
	}

	body > header .logos img {
	    background-color: #00557f;
	    height: 100%;
	}

	body > footer .user {
		line-height: 14px;
		background-size: contain;
		padding-left: 26px;;
	}

}

