

/* Page Datos del SGA *******************************************************************************/

body.page-datos-del-sga > main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
body.page-datos-del-sga > main h2 {
	margin-bottom: 2px;
}
body.page-datos-del-sga > main .col-left {
	width: calc(66% - 18px);
	margin-right: 0;
	flex: none;
}
body.page-datos-del-sga > main .col-right {
	width: calc(33% - 18px);
	margin-left: 0;
	flex: none;
}
body.page-datos-del-sga > main .flow-wrap {
	height: 50%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}
body.page-datos-del-sga > main .flow-wrap > * {
	width: calc(50% - 25px);
}


body.page-datos-del-sga th.status, 
body.page-datos-del-sga td.status {
	width: 110px;
}
body.page-datos-del-sga td.status.green {
	background-color: #7dbe02;
}
body.page-datos-del-sga td.status.red {
	background-color: #c40112;
}



body.page-datos-del-sga main section.signals-flow {
}
body.page-datos-del-sga main section.signals-flow table {
	height: calc(100% - 35px);
}


body.page-datos-del-sga main section.edi-files-flow .table-group {
	height: calc(100% - 35px);
	overflow: auto;
}
body.page-datos-del-sga main section.edi-files-flow table {
	height: auto;
}
body.page-datos-del-sga main section.edi-files-flow table thead {
	width: 100%;
}
body.page-datos-del-sga main section.edi-files-flow table tbody {
	overflow-y: visible;
}
body.page-datos-del-sga main section.edi-files-flow table .files {
	width: 100px;
}


body.page-datos-del-sga main section.glt-wires-flow {
	height: 100%;
}
body.page-datos-del-sga main section.glt-wires-flow table {
	height: calc(100% - 35px);
}
body.page-datos-del-sga main section.glt-wires-flow table thead {
}
body.page-datos-del-sga main section.glt-wires-flow table tbody {
}
body.page-datos-del-sga main section.glt-wires-flow table tr.numbers td {
	background-color: #bdb9ba;
}




body.page-datos-del-sga main section.alerts {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	height: calc(25% - 15px);
}
body.page-datos-del-sga main section.alerts .list { 
	display: flex; 
	overflow-y: auto; 
	flex-wrap: wrap; 
	margin-left: -26px;
}
body.page-datos-del-sga main section.alerts .alert {
	color: #ffffff;
	padding: 18px 24px;
	width: calc(25% - 26px);
	margin: 0 0 15px 26px;
	background-color: #bcb9b9;
}
body.page-datos-del-sga main section.alerts .alert-primary {
	background-color: #00557f;
}
body.page-datos-del-sga main section.alerts .alert-success {
	background-color: #7dbe02;
}
body.page-datos-del-sga main section.alerts .alert-info {
	background-color: rgb(68, 163, 210);
}
body.page-datos-del-sga main section.alerts .alert-warning {
	background-color: #efac51;
}
body.page-datos-del-sga main section.alerts .alert-danger {
	background-color: #c40112;
}
body.page-datos-del-sga main section.alerts .alert-muted {
	background-color: #4b4b4b;
}
body.page-datos-del-sga main section.alerts .alert-white {
	background-color: #ffffff;
	color: #2a2b2d;
}
body.page-datos-del-sga main section.alerts .alert h3 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 2px;
}
body.page-datos-del-sga main section.alerts .alert main {
	font-size: 18px;
}


body.page-datos-del-sga main section.blocked-products {
	display: flex;
	flex-direction: column;
	height: calc(25% - 15px);
}
body.page-datos-del-sga main section.blocked-products .list {
	display: flex; 
	flex-wrap: wrap; 
	overflow-y: auto;
	margin-left: -26px;
}
body.page-datos-del-sga main section.blocked-products .item {
	background-color: #ffffff;
	padding: 4px;
	width: calc(16% - 26px);
	margin: 0 0 4px 26px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}






/* mobile */
@media screen and (max-width: 1400px) {

	body.page-datos-del-sga > main .col-left {
		width: calc(66% - 12px);
	}
	body.page-datos-del-sga > main .col-right {
		width: calc(33% - 12px);
	}

	body.page-datos-del-sga th.status, 
	body.page-datos-del-sga td.status {
		width: 75px;
	}

	body.page-datos-del-sga > main h2 {
		font-size: 18px;
	}
	table.my-table thead th {
		font-size: 16px;
		padding: 0 6px;
	}
	table.my-table tbody td {
		padding: 0 6px;
	}
	body.page-datos-del-sga > main .flow-wrap > * {
	width: calc(50% - 15px);
	}

	body.page-datos-del-sga main section.alerts .alert {
		width: calc(33% - 26px);
		padding: 7px 13px;
	}
	body.page-datos-del-sga main section.alerts .alert h3 {
		font-size: 16px;
		margin-bottom: 4px;
	}
	body.page-datos-del-sga main section.alerts .alert main {
		font-size: 16px;
		line-height: 130%;
	}
	body.page-datos-del-sga main section.blocked-products .list {
		margin-left: -15px;
	}
	body.page-datos-del-sga main section.blocked-products .item {
		font-size: 16px;
		padding: 2px;
		width: calc(20% - 15px);
		margin-left: 15px;
	}

}



