
<!-- popup alerts -->
<section class="popup-alerts closed" ng-class="{hide: !popupAlertsCount}">
	<div class="alerts">
		<a class="close">✕</a>
		<div class="alert" ng-repeat="item in popupAlertsData">
			<h3>{{ item.Title }}</h3>
			<main>{{ item.Message }}</main>
		</div>
	</div>
	<a class="open">
		(<span class="count">{{ popupAlertsCount }}</span>)
	</a> 
</section>


<!-- zoom controls -->
<div class="zoom-controls">
	<md-button ng-click="zoomIn()">&#43;</md-button>
	<md-button class="md-raised md-primary zoom-out" ng-click="zoomOut()">&#8722;</md-button>
</div>


<!-- AGV popup -->
<div id="agv-popup" class="popup" md-theme="dark">
	<h3>AGV {{ selectedAGV.Id }}</h3>
	<p>Estado: {{ selectedAGV.Status }}</p>
	<p class="clickable loadable" ng-repeat="action in selectedAGV.Actions" ng-click="updateAGV(selectedAGV.Id, action, $event)">{{ action }} <md-progress-circular></md-progress-circular></p>
</div>

<!-- semaphore popup -->
<div id="semaphore-popup" class="popup" md-theme="dark">
	<h3>Semaphore {{ selectedSemaphore.Id }}</h3>
	<p>Estado: {{ selectedSemaphore.State }}</p>
	<p class="clickable loadable" ng-repeat="action in selectedSemaphore.Actions" ng-click="updateSemaphore(selectedSemaphore.Id, action, $event)">{{ action }} <md-progress-circular></md-progress-circular></p>
</div>

<!-- transport belt popup -->
<div id="transport-belt-popup" class="popup" md-theme="dark">
	<h3>Cinta transportadora {{ selectedTransportBelt.Id }}</h3>
	<p>Estado: {{ selectedTransportBelt.State }}</p>
	<p class="clickable loadable" ng-repeat="action in selectedTransportBelt.Actions" ng-click="updateTransportBelt(selectedTransportBelt.Id, action, $event)">{{ action }} <md-progress-circular></md-progress-circular></p>
</div>

<!-- storage position popup -->
<div id="position-popup" class="popup" md-theme="dark">
	<h3>POSICIÓN {{ selectedPosition.Id }}</h3>
	<p ng-repeat="niche in selectedPosition.Niches">
		Height: {{ niche.Height }}
		<span><br>Producto: {{ niche.Product }}</span>
	</p>
</div>



<div id="mapa">
	
	<!-- AGVs -->
	<div 
		ng-repeat="agv in AGVData"  
		ng-init="$last && onAGVsRendered()"
		class="agv" 
		id="agv-{{ agv.Id }}"
		data-agv-id="{{ agv.Id }}"
		style="transform: translate({{ metersToPxX(agv.X) }}px, {{ metersToPxY(agv.Y) }}px) rotate({{ agv.Orientation }}deg)">
		{{ agv.Id }}
	</div>
	
	<!-- semaphores -->
	<div 
		ng-repeat="semaphore in semaphoresData"  
		ng-init="$last && onSemaphoresRendered()"
		class="semaphore" 
		id="semaphore-{{ semaphore.Id }}"
		data-semaphore-id="{{ semaphore.Id }}"
		style="transform: translate({{ metersToPxX(semaphore.X) }}px, {{ metersToPxY(semaphore.Y) }}px)">
	</div>
	
	<!-- transport belts -->
	<div 
		ng-repeat="transportBelt in transportBeltsData"  
		ng-init="$last && onTransportBeltsRendered()"
		class="transport-belt" 
		id="transport-belt-{{ transportBelt.Id }}"
		data-transport-belt-id="{{ transportBelt.Id }}"
		style="transform: translate({{ metersToPxX(transportBelt.X) }}px, {{ metersToPxY(transportBelt.Y) }}px)">
		CT{{ transportBelt.Id }}
	</div>

	<!-- storage positions -->
	<div 
		ng-repeat="position in storagePositionData"  
		ng-init="$last && onStoragePositionsRendered()"
		class="position" 
		id="position-{{ position.Id }}"
		data-storage-position-id="{{ position.Id }}"
		style="left: {{ storagePositionsCoordinates[position.Id].x }}%; top: {{ storagePositionsCoordinates[position.Id].y }}%"
		ng-click="openPositionPopup($event, position)">
	</div>

	<!-- map images -->
	<!-- <img id="map-image" src="map/plano_AGV_SAS_MASTER_v3_x6_BORRADO_2.svg" alt=""> -->
	<img id="map-image" src="map/plano_AGV_SAS_MASTER_v4_RECORTADO_EXPORT_2.svg" alt="">

</div> 
