
<!-- popup alerts -->
<section class="popup-alerts">
	<div class="alerts">
		<div class="alert" ng-repeat="item in popupAlertsData">
			<h3>{{ item.Title }}</h3>
			<main>{{ item.Message }}</main>
		</div>
		<a class="close">✕</a>
	</div>
	<a class="open">
		(<span class="count">8</span>)
	</a> 
</section>


<!-- zoom controls -->
<div class="zoom-controls">
	<md-button ng-click="zoomIn()">&#43;</md-button>
	<md-button class="md-raised md-primary zoom-out" ng-click="zoomOut()">&#8722;</md-button>
</div>


<!-- AGV popup -->
<div id="agv-popup" class="popup" md-theme="dark">
	<h3>AGV {{ selectedAGV.Id }}</h3>
	<p>Estado: {{ selectedAGV.Status }}</p>
	<p class="clickable loadable" ng-repeat="action in selectedAGV.Actions" ng-click="updateAGV(selectedAGV.Id, action, $event)">{{ action }} <md-progress-circular></md-progress-circular></p>
</div>

<!-- semaphore popup -->
<div id="semaphore-popup" class="popup" md-theme="dark">
	<h3>Semaphore {{ selectedSemaphore.Id }}</h3>
	<p>Estado: {{ selectedSemaphore.State }}</p>
	<p class="clickable loadable" ng-repeat="action in selectedSemaphore.Actions" ng-click="updateSemaphore(selectedSemaphore.Id, action, $event)">{{ action }} <md-progress-circular></md-progress-circular></p>
</div>

<!-- transport belt popup -->
<div id="transport-belt-popup" class="popup" md-theme="dark">
	<h3>Cinta transportadora {{ selectedTransportBelt.Id }}</h3>
	<p>Estado: {{ selectedTransportBelt.State }}</p>
	<p class="clickable loadable" ng-repeat="action in selectedTransportBelt.Actions" ng-click="updateTransportBelt(selectedTransportBelt.Id, action, $event)">{{ action }} <md-progress-circular></md-progress-circular></p>
</div>

<!-- storage position popup -->
<div id="position-popup" class="popup" md-theme="dark">
	<h3>POSICIÓN {{ selectedPosition.Id }}</h3>
	<p ng-repeat="niche in selectedPosition.Niches">
		Height: {{ niche.Height }}
		<span ng-repeat="product in niche.Product"><br>Producto: {{ product }}</span>
	</p>
</div>



<div id="mapa" ng-click="mapClick($event)">
	
	<!-- AGVs -->
	<div 
		ng-repeat="agv in AGVData"  
		id="agv-{{ agv.Id }}"
		class="agv" 
		style="transform: translate({{ metersToPxX(agv.X) }}px, {{ metersToPxY(agv.Y) }}px) rotate({{ agv.Orientation }}deg)"
		ng-click="openAGVPopup($event, agv)">
		{{ agv.Id }}
	</div>
	
	<!-- semaphores -->
	<div 
		ng-repeat="semaphore in semaphoresData"  
		id="semaphore-{{ semaphore.Id }}"
		class="semaphore" 
		style="transform: translate({{ metersToPxX(semaphore.X) }}px, {{ metersToPxY(semaphore.Y) }}px)"
		ng-click="openSemaphorePopup($event, semaphore)">
	</div>
	
	<!-- transport belts -->
	<div 
		ng-repeat="transportBelt in transportBeltsData"  
		id="transport-belt-{{ transportBelt.Id }}"
		class="transport-belt" 
		style="transform: translate({{ metersToPxX(transportBelt.X) }}px, {{ metersToPxY(transportBelt.Y) }}px)"
		ng-click="openTransportBeltPopup($event, transportBelt)">
		CT{{ transportBelt.Id }}
	</div>

	<!-- storage positions -->
	<div 
		ng-repeat="position in storagePositionData"  
		id="position-{{ position.Id }}"
		class="position" 
		style="transform: translate({{ metersToPxX(storagePositionsCoordinates[position.Id].x) }}px, {{ metersToPxY(storagePositionsCoordinates[position.Id].y) }}px)"
		ng-click="openPositionPopup($event, position)">
	</div>

	<!-- map images -->
	<!-- <object id="map-image" data="map/plano_AGV_SAS_MASTER_v3_x6_BORRADO_2.svg" type="image/svg+xml"></object> -->
	<img id="map-image" src="map/plano_AGV_SAS_MASTER_v3_x6_BORRADO_2.svg" alt="">

</div> 
