
<div class="row">
	
	<div class="col-4">
		
		<section class="glt-in-asn">
			
			<h2>GLT in ASN</h2>


			<table class="scroll-table">

				<thead>
					<tr>
						<th>GLT</th>
						<th colspan="4">WIRES</th>
					</tr>
				</thead>
		
				<tbody>
					<tr ng-repeat="item in gltInAsnData">
						<td>{{ item.GltNumber }}</td>
						<td>{{ item.Wire1 }}</td>
						<td>{{ item.Wire2 }}</td>
						<td>{{ item.Wire3 }}</td>
						<td>{{ item.Wire4 }}</td>
					</tr>
				</tbody>

			</table>


		</section>

	</div><!-- /.col-4 -->

	<div class="col-4">
		
		<section class="asn">
			
			<h2>ASN</h2>

			<table class="my-table">

				<thead>
					<tr>
						<th>NÚM</th>
						<th>ID</th>
						<th>ALBARÁN</th>
					</tr>
				</thead>
		
				<tbody>
					<tr>
						<td>{{ asnData.Number }}</td>
						<td>{{ asnData.ID }}</td>
						<td>{{ asnData.Albaran }}</td>
					</tr>
				</tbody>

			</table>

		</section>


		
		<section class="read-in-process">
			
			<h2>READ IN PROCESS</h2>

			<table class="my-table">

				<thead>
					<tr>
						<th>ASN</th>
						<th>READ</th>
						<th>STATUS</th>
					</tr>
				</thead>
		
				<tbody>
					<tr class="grey">
						<td>{{ readInProcessData.AsnGlt }}</td>
						<td>{{ readInProcessData.ReadGlt }}</td>
						<td></td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire1 }}</td>
						<td>{{ readInProcessData.ReadWire1 }}</td>
						<td class="status {{ readInProcessData.StatusWire1 }}"></td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire2 }}</td>
						<td>{{ readInProcessData.ReadWire2 }}</td>
						<td class="status {{ readInProcessData.StatusWire2 }}"></td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire3 }}</td>
						<td>{{ readInProcessData.ReadWire3 }}</td>
						<td class="status {{ readInProcessData.StatusWire3 }}"></td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire4 }}</td>
						<td>{{ readInProcessData.ReadWire4 }}</td>
						<td class="status {{ readInProcessData.StatusWire4 }}"></td>
					</tr>
				</tbody>

			</table>

		</section>




		<section class="alerts">
			
			<h2>ALERTAS y AVISOS</h2>

			<div class="list"> 
				
				<div ng-repeat="item in alertsData" class="alert alert-danger" >
					<h3>{{ item.Title }}</h3>
					<main>{{ item.Message }}</main>
				</div>

			</div>

		</section>


	</div><!-- /.col-4 -->

	<div class="col-4">
		

		
		<section class="glt-incoming">
			
			<h2>GLT INCOMING</h2>


			<table class="scroll-table">

				<thead>
					<tr>
						<th>GLT</th>
						<th colspan="4">WIRES</th>
					</tr>
				</thead>
		
				<tbody>
					<tr ng-repeat="item in gltIncomingData">
						<td>{{ item.GltNumber }}</td>
						<td>{{ item.Wire1 }}</td>
						<td>{{ item.Wire2 }}</td>
						<td>{{ item.Wire3 }}</td>
						<td>{{ item.Wire4 }}</td>
					</tr>
				</tbody>

			</table>


		</section>


	</div><!-- /.col-4 -->

</div>





