
<div class="row">
	
	<div class="col-4">
		
		<section class="glt-in-asn">
			
			<h2>GLT en ASN <span class="badge">{{ gltInAsnData.length }}</span></h2>


			<table class="scroll-table">

				<thead>
					<tr>
						<th class="glt">GLT</th>
						<th colspan="4">Wires</th>
					</tr>
				</thead>
			
				<tbody>
					<tr ng-repeat="item in gltInAsnData">
						<td class="glt">{{ item.Nefab }}</td>
						<td>{{ item.Cable1 }}</td>
						<td>{{ item.Cable2 }}</td>
						<td>{{ item.Cable3 }}</td>
						<td>{{ item.Cable4 }}</td>
					</tr>
				</tbody>

			</table>


		</section>

	</div><!-- /.col-4 -->

	<div class="col-4">
		
		<section class="asn">
			
			<h2>SELABE/Numéro de transporte</h2>

			<form ng-submit="sendASN()">
				<md-input-container md-no-float>
			        <input type="text" ng-model="asnNumber" placeholder="Número ASN" required>
			    </md-input-container>
			    <md-button type="submit" class="md-raised md-primary">Enviar <md-progress-circular></md-progress-circular></md-button>
		   	</form>

			<md-button class="md-raised md-primary generate-notification" ng-click="generateNotification()">Generar notificación <md-progress-circular></md-progress-circular></md-button>

		</section>


		
		<section class="read-in-process">
			
			<h2>Lectura en proceso <span class="repeated" ng-show="readInProcessData.Repeated">Repetida</span></h2>

			<table class="my-table">

				<thead>
					<tr>
						<th>ASN</th>
						<th>READ</th>
						<th>STATUS</th>
					</tr>
				</thead>
		
				<tbody>
					<tr class="grey">
						<td>{{ readInProcessData.AsnGlt }}</td>
						<td>{{ readInProcessData.ReadGlt }}</td>
						<td class="status">&nbsp;</td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire1 }}</td>
						<td>{{ readInProcessData.ReadWire1 }}</td>
						<td class="status {{ readInProcessData.StatusWire1 }}">&nbsp;</td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire2 }}</td>
						<td>{{ readInProcessData.ReadWire2 }}</td>
						<td class="status {{ readInProcessData.StatusWire2 }}">&nbsp;</td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire3 }}</td>
						<td>{{ readInProcessData.ReadWire3 }}</td>
						<td class="status {{ readInProcessData.StatusWire3 }}">&nbsp;</td>
					</tr>
					<tr>
						<td>{{ readInProcessData.AsnWire4 }}</td>
						<td>{{ readInProcessData.ReadWire4 }}</td>
						<td class="status {{ readInProcessData.StatusWire4 }}">&nbsp;</td>
					</tr>
				</tbody>

			</table>

		</section>




		<section class="alerts">
			
			<h2>ALERTAS y AVISOS</h2>

			<div class="list"> 
				
				<div ng-repeat="item in alertsData" class="alert alert-{{ item.Color }}" >
					<h3>{{ item.Title }}</h3>
					<main>{{ item.Message }}</main>
				</div>

			</div>

		</section>


	</div><!-- /.col-4 -->

	<div class="col-4">
		

		
		<section class="glt-incoming">
			
			<h2>GLT recepcionado <span class="badge">{{ gltIncomingData.length }}</span></h2>


			<table class="scroll-table">

				<thead>
					<tr>
						<th class="glt">GLT</th>
						<th colspan="4">WIRES</th>
					</tr>
				</thead>
		
				<tbody>
					<tr ng-repeat="item in gltIncomingData">
						<td class="glt">{{ item.Nefab }}</td>
						<td class="{{ item.Bloqueado1 ? '' : 'red' }}">{{ item.Cable1 }}</td>
						<td class="{{ item.Bloqueado2 ? '' : 'red' }}">{{ item.Cable2 }}</td>
						<td class="{{ item.Bloqueado3 ? '' : 'red' }}">{{ item.Cable3 }}</td>
						<td class="{{ item.Bloqueado4 ? '' : 'red' }}">{{ item.Cable4 }}</td>
					</tr>
				</tbody>

			</table>


		</section>


	</div><!-- /.col-4 -->

</div>





