

/* Page Visualizacion recepcion *******************************************************************************/

body.page-visualizacion-recepcion > main {
	overflow: hidden;
}
body.page-visualizacion-recepcion > main .row {
	height: 100%;
}
body.page-visualizacion-recepcion > main .row .col-4:nth-child(1),
body.page-visualizacion-recepcion > main .row .col-4:nth-child(3) {
	/*flex: 2;*/
}
body.page-visualizacion-recepcion > main .row .col-4:nth-child(2) {
	flex-direction: column;
	display: flex;
	flex: 0;
	/*flex: 1;*/
}
body.page-visualizacion-recepcion main table tr.separator {
	border-bottom: 3px solid #4b4b4b;
}
body.page-visualizacion-recepcion main table tr.numbers td {
	background-color: #bdb9ba;
}
table.my-table tbody td.status {
    background-color: #e2e2e2;
}
body.page-visualizacion-recepcion table th.glt,
body.page-visualizacion-recepcion table td.glt {
	width: 23%;
}

body.page-visualizacion-recepcion main section.glt-in-asn {
	height: 100%;
}
body.page-visualizacion-recepcion main section.glt-in-asn table {
	height: calc(100% - 35px);
}

body.page-visualizacion-recepcion main section.asn {
	margin-bottom: 24px;
}
body.page-visualizacion-recepcion main section.asn td {
	background-color: #00557e;
	color: #ffffff;
}
body.page-visualizacion-recepcion main section.asn .generate-notification {
	margin-top: 13px;
}


body.page-visualizacion-recepcion main section.read-in-process {
	margin-bottom: 24px;
}

body.page-visualizacion-recepcion main section.read-in-progress {
	margin-bottom: 24px;
}

body.page-visualizacion-recepcion main section.alerts {
	height: calc(100% - 390px);
}
body.page-visualizacion-recepcion main section.alerts .list {
	overflow-y: auto;
	height: calc(100% - 35px);
}
body.page-visualizacion-recepcion main section.alerts .alert {
	color: #ffffff;
	padding: 18px 24px;
	margin: 0 0 15px 0;
}
body.page-visualizacion-recepcion main section.alerts .alert h3 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 2px;
}
body.page-visualizacion-recepcion main section.alerts .alert main {
	font-size: 18px;
}



body.page-visualizacion-recepcion main section.glt-incoming {
	margin-bottom: 24px;
}
body.page-visualizacion-recepcion main section.glt-incoming {
	height: 100%;
}
body.page-visualizacion-recepcion main section.glt-incoming table {
	height: calc(100% - 35px);
}
body.page-visualizacion-recepcion main section.glt-incoming table td.red {
	color: #a40f0f;
}


body.page-visualizacion-recepcion main section.glt-in-asn td,
body.page-visualizacion-recepcion main section.glt-incoming td {
	padding: 0;
	text-align: center;
}



/* mobile */
@media screen and (max-width: 1200px) {

	body.page-visualizacion-recepcion main section.glt-in-asn td,
	body.page-visualizacion-recepcion main section.glt-incoming td {
		font-size: 10px;
	}
}

@media screen and (max-width: 1400px) {

	body.page-visualizacion-recepcion main section.asn input[type="text"] {
		width: 148px;
	}

	body.page-visualizacion-recepcion main section.alerts .alert {
		padding: 7px 13px;
	}
	body.page-visualizacion-recepcion main section.alerts .alert h3 {
		font-size: 14px;
		margin-bottom: 4px;
	}
	body.page-visualizacion-recepcion main section.alerts .alert main {
		font-size: 12px;
		line-height: 130%;
	}

	body.page-visualizacion-recepcion main section.alerts {
	    height: calc(100% - 314px);
	}

}

@media screen and (max-width: 1900px) {

	body.page-visualizacion-recepcion main section.glt-in-asn td,
	body.page-visualizacion-recepcion main section.glt-incoming td {
		font-size: 12px;
	}

}