
<div layout="row">

	<div flex layout="column">

		<section class="actions">
			
			<h2>Selecciona el método de inserción</h2>

			<form name="productForm" ng-submit="receiveProductByInput()">
				<p>
					<label>Por teclado</label>
					<md-input-container md-no-float>
				        <input type="text" name="nefab" ng-model="nefab" placeholder="Código de nefab" maxlength="{{ nefab_code_length }}" minlength="{{ nefab_code_length }}" required>
				    </md-input-container>
				    <md-button type="submit" class="receive-product"><md-tooltip md-direction="top">Seleccionar</md-tooltip>	</md-button>
				</p>
				<p>
					<label></label>
					<md-input-container md-no-float>
				        <input type="text" name="cable1" ng-model="cable1" placeholder="Código de cable" maxlength="{{ cable_code_length }}" minlength="{{ cable_code_length }}" required>
				    </md-input-container>
				</p>
				<p>
					<label></label>
					<md-input-container md-no-float>
				        <input type="text" name="cable2" ng-model="cable2" placeholder="Código de cable" maxlength="{{ cable_code_length }}" minlength="{{ cable_code_length }}">
				    </md-input-container>
				</p>
				<p>
					<label></label>
					<md-input-container md-no-float>
				        <input type="text" name="cable3" ng-model="cable3" placeholder="Código de cable" maxlength="{{ cable_code_length }}" minlength="{{ cable_code_length }}">
				    </md-input-container>
				</p>
				<p>
					<label></label>
					<md-input-container md-no-float>
				        <input type="text" name="cable4" ng-model="cable4" placeholder="Código de cable" maxlength="{{ cable_code_length }}" minlength="{{ cable_code_length }}">
				    </md-input-container>
				</p>
		   	</form>

		   	<br>

			<form ng-submit="selectReader()" class="reader">
				<p>
					<label>Por lector</label>
					<md-input-container md-no-float>
        				<md-select ng-model="readerId" placeholder="Seleccionar lector">
            				<md-option ng-repeat="reader in readersData" ng-value="reader">{{ reader }}</md-option>
          				</md-select>
        			</md-input-container>
				    <md-button type="submit" class="md-raised md-primary">Seleccionar <md-progress-circular></md-progress-circular></md-button>
				</p>
		   	</form>

			<form ng-submit="uploadFile()" class="upload-file">
				<p>
					<label>Por archivo</label>
					<md-input-container md-no-float>
				        <span class="file-input">
				        	<input type="file" id="uploadFileInput" placeholder="Seleccionar archivo" required>
				        </span>
				    </md-input-container>
				    <md-button type="submit" class="md-raised md-primary">Enviar <md-progress-circular></md-progress-circular></md-button>
				</p>
		   	</form>



		</section>	

	</div><!-- !column -->

	<section flex class="selected-products" layout="column">
		
		<h2>Productos a insertar</h2>

		<div class="list" flex>
			<div class="item" ng-repeat="item in selectedProducts track by $index">
				<div class="remove" ng-click="removeFromSelection(item)"><md-tooltip md-direction="top">Borrar</md-tooltip></div>
				<div class="nefab">{{ item[0] }}</div>
				<div class="cable">{{ item[1] }}</div>
				<div class="cable">{{ item[2] }}</div>
				<div class="cable">{{ item[3] }}</div>
				<div class="cable">{{ item[4] }}</div>
			</div>
		</div>

		<md-button class="md-raised md-primary receive-products" ng-click="receiveProducts()">Insertar a recibidos <md-progress-circular></md-progress-circular></md-button>
		
	</section>

</div>
