


/* Page recepcion-de-productos *******************************************************************************/


body.page-recepcion-de-productos > main {
}
body.page-recepcion-de-productos > main > .layout-row {
	height: 100%;
}
body.page-recepcion-de-productos > main > .layout-row > * {
	margin: 0px 25px; 
}
body.page-recepcion-de-productos > main section {
	margin-bottom: 35px;
}
body.page-recepcion-de-productos > main section > h2 {
	border-bottom: 8px solid #0276af;
	padding-bottom: 8px;
	margin-bottom: 24px;
}

body.page-recepcion-de-productos section.actions {
}
body.page-recepcion-de-productos section.actions p {
}
body.page-recepcion-de-productos section.actions p label {
	display: inline-block;
	text-transform: uppercase;
	font-size: 20px;
	min-width: 143px;
	vertical-align: middle;/* line-height: 38px; */;
}
body.page-recepcion-de-productos section.actions p md-input-container {
}
body.page-recepcion-de-productos section.actions p input,
body.page-recepcion-de-productos section.actions p .md-select-value {
	width: 290px;
}
body.page-recepcion-de-productos section.actions p .md-button {
	width: 165px;
	margin-left: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}
body.page-recepcion-de-productos section.actions .md-button.receive-product {
	background-image: url(../../../images/plus.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 21px;
	min-width: 21px;
}

body.page-recepcion-de-productos .selected-products .list {
	display: flex;
	overflow-y: auto;
	flex-wrap: wrap;
	align-content: flex-start;;;;;
}
body.page-recepcion-de-productos .selected-products .list .item {
	background-color: #ffffff;
	padding: 4px;
	width: calc(26%);
	text-align: center;
	font-size: 18px;
	position: relative;
	margin: 0 7.3% 4px 0;
	height: 119px;
}
body.page-recepcion-de-productos .selected-products .list .item .remove {
	position: absolute;
	width: 21px;
	height: 21px;;
	cursor: pointer;
	right: -24px;
	top: 6px;
	outline: none;
	background-image: url(../../../images/remove.gif);
	background-repeat: no-repeat;
}
body.page-recepcion-de-productos .selected-products .list .item .nefab {
}
body.page-recepcion-de-productos .selected-products .list .item .cable {
	font-size: 16px;
}



/* mobile */
@media screen and (max-width: 1850px) {

	body.page-recepcion-de-productos section.actions p label {
		font-size: 16px;
		display: block;
	}
	body.page-recepcion-de-productos > main section > h2 {
		border-bottom-width: 4px;
	}
	body.page-recepcion-de-productos .selected-products .list .item {
		font-size: 16px;
		height: 107px;
	}
	body.page-recepcion-de-productos .selected-products .list .item .cable {
		font-size: 14px;
	}
}




