
/* Page localizacion-de-articulos *******************************************************************************/


body.page-localizacion-de-articulos > main {
	padding: 25px 25px 25px 25px;
	text-align: center;
}
body.page-localizacion-de-articulos > main .container {
	text-align: left;
	max-width: 1050px;
	margin: 0 auto;
}
body.page-localizacion-de-articulos > main h2 {
	border-bottom: 8px solid #0475b1;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
body.page-localizacion-de-articulos > main p {
}
body.page-localizacion-de-articulos > main p label {
	display: block;
	font-size: 20px;
	min-width: 143px;
	vertical-align: middle;
	margin-bottom: 4px;
	text-transform: uppercase;
}
body.page-localizacion-de-articulos > main p md-input-container {
	padding-left: 0;
}
body.page-localizacion-de-articulos > main p input,
body.page-localizacion-de-articulos > main p .md-select-value {
	width: 380px;
	margin-right: 15px;
}




/* mobile */
@media screen and (max-width: 1450px) {

	
	body.page-localizacion-de-articulos > main p label {
		font-size: 16px;
	}

}