

/* Page Datos del SGA *******************************************************************************/

body.page-datos-del-sga > main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
body.page-datos-del-sga > main h2 {
	margin-bottom: 2px;
}
body.page-datos-del-sga > main .col-left {
	width: calc(66% - 18px);
	margin-right: 0;
	flex: none;
	height: 100%;
}
body.page-datos-del-sga > main .col-right {
	width: calc(33% - 18px);
	margin-left: 0;
	flex: none;
	height: 100%;
}
body.page-datos-del-sga > main .flow-wrap {
	height: 75%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}
body.page-datos-del-sga > main .flow-wrap > * {
	width: calc(50% - 25px);
	height: 100%;
}




body.page-datos-del-sga main section.signals-flow {
	height: 100%;
}
body.page-datos-del-sga main section.signals-flow table {
	height: calc(100% - 35px);
}


body.page-datos-del-sga main section.edi-files-flow .table-group {
	height: calc(100% - 35px);
	overflow: auto;
}
body.page-datos-del-sga main section.edi-files-flow table {
	height: auto;
}
body.page-datos-del-sga main section.edi-files-flow table thead {
	width: 100%;
}
body.page-datos-del-sga main section.edi-files-flow table tbody {
	overflow-y: visible;
}
body.page-datos-del-sga main section.edi-files-flow table .files {
	width: 100px;
}


body.page-datos-del-sga main section.glt-wires-flow {
	height: 100%;
}
body.page-datos-del-sga main section.glt-wires-flow table {
	height: calc(100% - 35px);
}
body.page-datos-del-sga main section.glt-wires-flow table thead {
}
body.page-datos-del-sga main section.glt-wires-flow table tbody {
}
body.page-datos-del-sga main section.glt-wires-flow table tr.numbers td {
	background-color: #bdb9ba;
}




body.page-datos-del-sga main section.alerts {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	height: calc(25% - 15px);
}
body.page-datos-del-sga main section.alerts .list { 
	display: flex; 
	overflow-y: auto; 
	flex-wrap: wrap; 
	margin-left: -26px;
}
body.page-datos-del-sga main section.alerts .alert {
	color: #ffffff;
	padding: 18px 24px;
	width: calc(25% - 26px);
	margin: 0 0 15px 26px;
}
body.page-datos-del-sga main section.alerts .alert h3 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 2px;
}
body.page-datos-del-sga main section.alerts .alert main {
	font-size: 18px;
}


body.page-datos-del-sga main section.blocked-products {
	display: flex;
	flex-direction: column;
	height: calc(25% - 15px);
}
body.page-datos-del-sga main section.blocked-products .list {
	display: flex; 
	flex-wrap: wrap; 
	overflow-y: auto;
	margin-left: -26px;
}
body.page-datos-del-sga main section.blocked-products .item {
	background-color: #ffffff;
	padding: 4px;
	width: calc(16% - 26px);
	margin: 0 0 4px 26px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}








@media screen and (max-width: 1850px) {

	body.page-datos-del-sga main section.blocked-products .item {
		font-size: 14px;
	}
}