
<div class="flow-wrap">

	<section class="signals-flow">
		
		<h2>Signals flow</h2>

		<table class="my-table">

			<thead>
				<tr>
					<th>HH:MM</th>
					<th>SEC:L9</th>
					<th>SEC:M1</th>
					<th>HH:MM</th>
				</tr>
			</thead>
	
			<tbody>
				<tr ng-repeat="item in signalsFlowData">
					<td>{{ item.Time1 }}</td>
					<td>{{ item.SecL19 }}</td>
					<td>{{ item.SecM1 }}</td>
					<td>{{ item.Time2 }}</td>
				</tr>
			</tbody>

		</table>

	</section>




	<section class="edi-files-flow">
		
		<h2>EDI files flow</h2>
		
		<div class="table-group">
			
			<table class="my-table" ng-repeat="items in ediFilesFlowData">

				<thead>
					<tr>
						<th class="files">FILES</th>
						<th>SUPPLIER</th>
						<th class="status">STATUS</th>
					</tr>
				</thead>
		
				<tbody>
					<tr ng-repeat="item in items">
						<td class="files">{{ item.Files }}</td>
						<td>{{ item.Supplier }}</td>
						<td class="status {{ item.Status }}"></td>
					</tr>
				</tbody>

			</table>

		</div>

	</section>



	<section class="glt-wires-flow">
		
		<h2>GLT-wires flow</h2>

		<div class="table-group">
			
			<table class="my-table" ng-repeat="items in GTLWiresFlowData">

				<thead>
					<tr>
						<th>GLT number</th>
						<th>AKL number</th>
						<th class="status">STATUS</th>
					</tr>
				</thead>
		
				<tbody>
					<tr ng-repeat="item in items">
						<td>{{ item.GltNumber }}</td>
						<td>{{ item.AKLNumber }}</td>
						<td class="status {{ item.Status }}"></td>
					</tr>
				</tbody>

			</table>

	</section>


</div><!-- /.flow-wrap -->





<section class="alerts">
	
	<h2>ALERTAS y AVISOS</h2>

	<div class="list"> 
		
		<div ng-repeat="item in alertsData" class="alert alert-{{ item.Color }}" >
			<h3>{{ item.Title }}</h3>
			<main>{{ item.Message }}</main>
		</div>

	</div>

</section>



<section class="blocked-products">
	
	<h2>Productos bloqueados</h2>

	<div class="list">
		<div class="item" ng-repeat="item in blockedProductsData track by $index">{{ item }}</div>
	</div>
</section>
