
<section class="parameters" layout="row">

	<div flex>

		<div ng-repeat="key in parametersDataLeftKeys" class="parameter {{ slugify(parametersData[key].Type) }}">
			<h2>{{ parametersData[key].Name }}</h2>
			<main>

				<ng-include src="'js/pages/configuracion-de-parametros/partial-' + slugify(parametersData[key].Type) + '.html'"></ng-include>

			</main>

		</div>

	</div>

	<div flex>

		<div ng-repeat="key in parametersDataRightKeys" class="parameter {{ slugify(parametersData[key].Type) }}">
			<h2>{{ parametersData[key].Name }}</h2>
			<main>

				<ng-include src="'js/pages/configuracion-de-parametros/partial-' + slugify(parametersData[key].Type) + '.html'"></ng-include>

			</main>

		</div>

	</div>

</section>

<md-button class="md-raised md-primary btn-block save" ng-click="saveParametersData()">Guardar <md-progress-circular></md-progress-circular></md-button>